.ab {
    display: flex;
    height: 100px;
    background-color: yellow;
}

.a {
    margin-top:  10px;
    background-color: violet;
    width: 100px;
}

.b {
    margin-top: 20px;
    background-color: rgb(52, 90, 86);
    width: 100px;
}